{% if add_button_modal is not defined %}
	{% set add_button_modal = true %}
{% endif %}

{% if add_button_modal %}
	<a href="#" class="text-danger mb-0 h5" data-bs-toggle="modal" data-bs-target="#deleteModal{{ trick.id }}">
		<i class="fas fa-trash-alt"></i>
	</a>
{% endif %}

<div class="modal fade" id="deleteModal{{ trick.id }}" tabindex="-1" aria-labelledby="deleteModal{{ trick.id }}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-danger" id="deleteModal{{ trick.id }}Label">Suppression</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-danger fw-bold">
				Voulez-vous vraiment supprimer le trick {{ trick.name }} ? Attention, cette action est irréversible.
			</div>
            <form method="post" action="{{ path('app_trick_delete', {'id': trick.id}) }}">
                <div class="modal-footer">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Confirmer</button>
                </div>
            </form>
		</div>
	</div>
</div>
