{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <article class="container">
        <header class="header-show" style="background-image: url('{{ trick_image(trick.featuredImage) }}')">
            {% if is_granted('ROLE_USER') %}
                <aside class="tools-header py-1 px-2">
                    <a href="{{ path('app_trick_edit', {'id': trick.id}) }}" class="text-decoration-none text-success mb-0 h5 me-2">
                        <i class="fas fa-pencil-alt"></i>
                    </a>

                    {{ include('trick/_delete_form.html.twig') }}
                </aside>
            {% endif %}
            <h1 class="title-trick px-5">{{ trick.name }}</h1>
        </header>

        {# images et video ici #}

        <div class="mt-5 lh-lg">{{ trick.description|nl2br }}</div>

        <div class="mt-4 pb-4 text-center border-bottom">
            <span class="tags bg-light border rounded-3 p-1 me-2" title="Créé le">
                <i class="fas fa-calendar-plus"></i>
                {{ trick.createdAt|date('d/m/Y H:i') }}
            </span>
            <span class="tags bg-light border rounded-3 p-1 me-2" title="Dernière mise à jour">
                <i class="fas fa-pencil-alt"></i>
                {{ trick.updatedAt ? trick.updatedAt|date('d/m/Y H:i') : trick.createdAt|date('d/m/Y H:i') }}
            </span>
            <span class="tags bg-light border rounded-3 p-1 me-2" title="Auteur">
                <i class="fas fa-user"></i>
                {{ trick.author ? trick.author.username }}
            </span>
            <span class="tags bg-light border rounded-3 p-1 mx-1" title="Catégorie">
                <i class="fas fa-tag"></i>
                {{ trick.categories|join(', ') }}
            </span>
        </div>

        {% if is_granted('ROLE_USER') %}
            <div class="border-bottom mb-5 pt-4 pb-5 px-5">
                {{ form_start(form) }}
                    {{ form_label(form.content) }}
                    <div class="input-group">
                        {{ form_widget(form.content) }}
                        <button class="btn btn-success" type="submit">Envoyer</button>
                    </div>
                    {{ form_errors(form.content) }}
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}

        <div class="mt-4">
            {% for comment in comments %}
                {{ comment.content|nl2br }}
            {% else %}
                <p class="text-center">Aucun commentaire</p>
            {% endfor %}
        </div>
    </article>
{% endblock %}
